<?php
$CONFIG = array (
  'instanceid' => '{{ nextcloud_instanceid }}',
  'datadirectory' => '{{ nextcloud_files_dir }}',
  'logfile' => '{{ nextcloud_log_dir }}/nextcloud.log',
  'dbtype' => 'mysql',
  'dbhost' => 'localhost',
  'dbname' => '{{ nextcloud_db_name }}',
  'dbuser' => '{{ nextcloud_db_user }}',
  'dbpassword' => '{{ nextcloud_db_password }}',
  'installed' => true,
  'trusted_domains' => array(
{% for d in nextcloud_trusted_domains %}
      '{{d}}',
{% endfor %}
  ),
{% if nextcloud_custom_apps_directory is defined %}
  'apps_paths' => array (
      0 => array (
              "path"     => OC::$SERVERROOT."/apps",
              "url"      => "/apps",
              "writable" => false,
      ),
      1 => array (
              "path"     => OC::$SERVERROOT."/custom-apps",
              "url"      => "/custom-apps",
              "writable" => true,
      )
  ),
{% endif %}
{% if nextcloud_trusted_proxies is defined %}
  'trusted_proxies' => array (
    {% for p in nextcloud_trusted_proxies %}
      {{loop.index0}} => '{{p}}',
    {% endfor %}
  )
{% endif %}
);
